<div>
    <img class="logo" style="margin: 20px 0 100px 20px;" src="/assets/images/logo.png" alt="">
</div>
<div class="container text-center">
    <h1 class="display-4">Welcome to PBM.com</h1>
</div>
<div class="container getStarted mt-5">

    <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" class="form-control" id="fullName" ng-model="fullName">
    </div>
    <div class="form-group">
        <label for="pwd">New Password:</label>
        <input type="password" class="form-control" id="pwd" ng-model="pwd">
    </div>
    <br>
    <button type="button" class="btn btn-info btn-block myButtonStyle" ng-click="login()">Next</button>
    </form>

</div>