.myNavbar   {
    background-color: white;
}

.logo   {
    height: 35px;
}

nav li  {
    margin-right: 20px;
    font-weight: 450;
}

.dropdownStyle  {
    cursor: pointer;
}
nav li:hover, a:hover, span:hover {
    color: #007bff !important;
    background-color: white !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    top: 35px;
    position: absolute;
    border: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
.messagingStyle   {
    color: #333;
    font-family: "sofia-pro","Roboto","Helvetica","Arial",sans-serif;
}
.myButtonStyle   {
    font-weight: 450;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.getStarted {
    width: 400px;
}
/* .positioning    {
    float: right;
    top: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

  .myWorkSpaceMenu  {
      background-color: #EEEEEE;
      width: 250px;
      height: 100vh;
  }
  .mySideMenu  {
      padding: 100px 0 0 20px;
      list-style-type: none;

  }
  ul.mySideMenu > li > a {
    text-decoration: none;
    color: black;
    font-size: 150%;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1px;
  }
  .myInnerPagePosition   {
    position: absolute;
    top: 100px;
    left: 300px;
 }
 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .myWorkspaceNav   {
    position: relative;
    background-color: #F7F6FF;
    height: 60px;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1;
    width: 100%;
    margin-bottom: 200px;
  } 
