.myNavbar   {
    background-color: white;
}

.logo   {
    height: 35px;
}

nav li  {
    margin-right: 20px;
    font-weight: 450;
}

.dropdownStyle  {
    cursor: pointer;
}
nav li:hover, a:hover, span:hover {
    color: #007bff !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    top: 35px;
    position: absolute;
    border: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
.messagingStyle   {
    color: #333;
    font-family: "sofia-pro","Roboto","Helvetica","Arial",sans-serif;
}
.myButtonStyle   {
    font-weight: 450;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.getStarted {
    width: 400px;
}

.mySideBanner   {
    background-color: #EEEEEE;
    width: 250px;
    height: 100vh;
}
.myWorkSpaceMenu  {
    background-color: #EEEEEE;
    width: 250px;
    height: 100vh;
}
.mySideMenu  {
    box-sizing: border-box; 
    text-indent: 40px;
    line-height: 170%;
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.mySideMenu div a {
    text-decoration: none;
    color: black;
}

.my-list-style ,il  {
    width: 250px;
    text-align: center;
    padding-top: 10px;
}
.my-border  {
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1px;    
}
/* ul.mySideMenu > li > a {
    text-decoration: none;
    color: black;
    font-size: 120%;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.myWorkspaceNav   {
    position: relative;
    background-color: #F7F7F7;
    height: 60px;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1;
    width: 100%;
    margin-bottom: 200px;
}

.myInnerPagePosition   {
    position: absolute;
    top: 100px;
    left: 330px;
    width: 70%;
}
 
  .mySearch {
      width: 300px;
      border-radius: 25px;
      padding-left: 2.375rem;
      
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  /* .myProjects-table td  {
    padding-right: 60px !important;
} */
  .myProjects-table  th  {
    border-top-style: none !important;
    font-weight: normal !important;
    color: dodgerblue;
}

  .myItems-table input  {
      font-size: 90%;
      background-color: rgb(240, 240, 240);
      border-radius: 0 !important;
      border-style: none;
      border-bottom: 1px solid rgb(202, 202, 202) !important;
  }
  .myAddNewRow input{
      background-color: white;
  }
  
  /* Removing borders from Items table  */
  .myItems-table  th   {
    border-style: none !important;
    font-weight: normal !important;
    color: dodgerblue;
  }
  .myItems-table  td  {
    border-style: none !important;
    padding: 0 0.05em 0.2em 0;
  }
  .my-float-right {
      float: right;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Disable arrows on nuber input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
.hidden {
    display: none;
}
tr:hover .hidden {
    display: initial;
  }
