<workspace-menu></workspace-menu>
<div class="mySideBanner"></div>


<div class="myInnerPagePosition">
    <h3 style="margin-bottom: 50px;">Project 1</h3>

    <div>
        <form name="projectForm">
            <input name="newProjectName" ng-model="projectName" ng-model-options="{ updateOn: 'blur' }"
                ng-keyup="cancel($event)" class="form-control" type="text" placeholder="+ Add new Project name">
            <input type="text" class="form-control" ng-model="projectName" placeholder="Add new">
            <button ng-click="updateProjectName()" type="submit" class="btn btn-info">Add</button>
        </form>
        <pre>projectName = <span ng-bind="projectName"></span></pre>
    </div>
    <div>

    </div>
    <!-- <div>
        <form name="editProjectBudget">
            <input name="editProjectBudget" ng-model="projectBudget" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" class="form-control"
                type="text" placeholder="+ Budget">
        </form>
    </div> -->

    <div class="myItems-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th style="text-align: center;">Owner</th>
                    <th>Category</th>
                    <th>Expense</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in items" class="my-placeholder">
                <td contenteditable="true">
                        {{item.itemName}}
                </td>
                <!-- <td>
                    <input class="form-control " type="text" placeholder="{{item.itemName}}">
                </td> -->
                <td>
                    <input class="form-control" type="text" placeholder="{{item.itemOwner}}"
                        style="text-align: center;">
                </td>
                <td>
                    <input class="form-control" type="select" placeholder="{{item.itemCategory}}">
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="{{item.itemExpense | currency:'$':0}}">
                </td>
                <td></td>
            </tr>
            <tr class="myAddNewRow">
                <form name="newLine">
                    <td>
                        <input name="createItem" type="text" class="form-control mb-2" id="inlineFormInput" ng-model="itemName" ng-blur="createItem()"
                        placeholder="+ New Item on blur">
                    </td>
                    <td>
                        <input class="form-control" type="text">
                    </td>
                    <td>
                        <input class="form-control" type="text">
                    </td>
                    <td>
                        <input class="form-control" type="text">
                    </td>
                    <td></td>
                </form>
            </tr>
        </table>
    </div>
</div>