<workspace-menu></workspace-menu>
<div class="mySideBanner"></div>


<div class="myInnerPagePosition">
    <h3 style="margin-bottom: 50px;">Project 1</h3>

    <div>
        <form name="projectForm">
            <input name="newProjectName" ng-model="projectName" ng-model-options="{ updateOn: 'blur' }"
                ng-keyup="cancel($event)" class="form-control" type="text" placeholder="+ Add new Project name">
            <input type="text" class="form-control" ng-model="projectName" placeholder="Add new">
            <button ng-click="updateProjectName()" type="submit" class="btn btn-info">Add</button>
        </form>
        <pre>projectName = <span ng-bind="projectName"></span></pre>
    </div>
    <div>

    </div>
    <!-- <div>
        <form name="editProjectBudget">
            <input name="editProjectBudget" ng-model="projectBudget" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" class="form-control"
                type="text" placeholder="+ Budget">
        </form>
    </div> -->

    <div class="myItems-table">
        <table class="table" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th>Item</th>
                    <th style="text-align: center;">Owner</th>
                    <th>Category</th>
                    <th>Expense</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in items" class="my-placeholder">
                <td contenteditable="true" spellcheck="false">
                    {{item.itemName}}
                </td>
                <td contenteditable="true" style="text-align: center;" spellcheck="false">
                    {{item.itemOwner}}
                </td>
                <td contenteditable="true" spellcheck="false">
                    {{item.itemCategory}}
                </td>
                <td contenteditable="true" spellcheck="false">
                    {{item.itemExpense | currency:'$':0}}
                </td>
                <td></td>
            </tr>
            <tr class="myAddNewRow">
        </table>

    </div>
    <form name="newLine">
        <input name="createItem" type="text" class="form-control mb-2" id="inlineFormInput"
            style="border-radius: 0 !important; border: 1px solid #f0f0f0;   font-size: 90%;" ng-model="itemName"
            ng-blur="createItem()" placeholder="+ Add new Item">
    </form>
</div>