<workspace-menu></workspace-menu>
<div class="mySideBanner"></div>


<div class="myInnerPagePosition">
    <div class="container my-bold row">
        <div class="col-lg-4">
            <h3 style="margin-bottom: 30px;">{{project.projectName}}</h3>
            <div>
                <span class="my-span" style="color: black !important;">Budget:</span>
                <span>
                    <input class="header-cell-style form-control" type="number" style="color: black !important;"
                        ng-model="projectBudgetNew" ng-blur="updateProjectBudget(project, projectBudgetNew)"
                        placeholder="{{project.projectBudget | currency:'$':0}}">
                    <!-- <span class="header-cell-style form-control" contenteditable="true" spellcheck="false">
                    {{project.projectBudget | currency:'$':0 }}</span> -->
                </span>
            </div>
            <div>
                <span class="my-span" style="color: black !important;">Expense:</span>
                <span class="header-cell-style form-control" spellcheck="false">
                    {{itemExpenseTotal | currency:"$":0}}</span>
            </div>
            <div>
                <span class="my-span" style="color: black !important;">End date:</span>
                <span class="header-cell-style form-control" contenteditable="true" spellcheck="false">
                    {{project.projectEndDate | date}}</span>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <canvas id="pie" class="chart chart-pie my-chart-position" chart-data="data" chart-labels="labels"
                    chart-options="options">
                </canvas>
            </div>
        </div>
    </div>

    <div class="myItems-table" style="margin-top: 30px;">
        <table class="table" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th>Item</th>
                    <th style="text-align: center;">Owner</th>
                    <th>Category</th>
                    <th>Expense</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in items" class="my-placeholder">
                <td>
                    <input type="text" ng-model="itemNameNew" ng-blur="updateItemName(item, itemNameNew)"
                        placeholder="{{item.itemName}}">
                </td>
                <!-- <td contenteditable="true" spellcheck="false" ng-model="itemName" ng-blur="updateItem(item)">
                        {{item.itemName}}
                    </td> -->
                <td style="text-align: center;">
                    <input style="text-align: center;" type="text" ng-model="itemOwnerNew"
                        ng-blur="updateItemOwner(item, itemOwnerNew)" placeholder="{{item.itemOwner}}">
                </td>
                <!-- <td contenteditable="true" style="text-align: center;" spellcheck="false" ng-model="itemOwnerNew"
                    ng-blur="updateItemOwner(item, itemOwnerNew)">
                    {{item.itemOwner}}
                </td> -->
                <td>
                    <input type="text" ng-model="itemCategoryNew" ng-blur="updateItemCategory(item, itemCategoryNew)"
                        placeholder="{{item.itemCategory}}">
                </td>
                <!-- <td contenteditable="true" spellcheck="false">
                    {{item.itemCategory}}
                </td> -->
                <td>
                    <input type="number" ng-model="itemExpenseNew" ng-blur="updateItemExpense(item, itemExpenseNew)"
                        placeholder="{{item.itemExpense | currency:'$':0}}">
                </td>
                <!-- <td contenteditable="true" spellcheck="false">
                    {{item.itemExpense | currency:'$':0}}
                </td> -->
                <td style="width: 40px;">
                    <div>
                        <button type="button" class="close btn hidden" value="Remove"
                            ng-click="deleteItemModal(item)">&times;</button>
                    </div>
                </td>
            </tr>
            <tr class="myAddNewRow">
        </table>
        <form class="modal" id="deleteModalItem" name="deleteModalItem">
            <div class="modal-dialog modal-sm">
                <div class="modal-content text-center">
                    <div style="padding: 10px;">
                        <div>
                            <p>Delete {{selectedItem}} ?</p>
                        </div>
                        <button ng-click="deleteItem(item)" value="Reset form" type="button"
                            class="btn btn-outline-info myButtonStyle" data-dismiss="modal"
                            style="width: 100px; margin: 10px;">Yes</button>
                        <button ng-model="parseItem" value="Reset form" type="button"
                            class="btn btn-outline-warning myButtonStyle" data-dismiss="modal"
                            style="width: 100px; margin: 10px;">Cancel</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <form name="newLine">
        <input name="createItem" type="text" class="form-control mb-2" id="inlineFormInput"
            style="border-radius: 0 !important; border: 1px solid #f0f0f0;   font-size: 90%;" ng-model="itemName"
            ng-blur="createItem()" placeholder="+ Add new Item">
    </form>

</div>