<workspace-menu></workspace-menu>
<div class="mySideBanner"></div>


<div class="myInnerPagePosition">
    <h3 style="display: inline;">Projects</h3>
    <a class="my-float-right" style="text-decoration: none;" href="#!/projectView" ng-click="newProject()">+ New Project</a>
    <div class="myProjects-table" style="margin-top: 40px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>End Date</th>
                    <th>Budget</th>
                    <th>Expense</th>
                </tr>
            </thead>
            <tr ng-repeat="project in projects" ng-click="openProject(project)">
                <td>{{project.projectName}}</td>
                <td>{{project.projectEndDate | date}}</td>
                <td>{{project.projectBudget | currency:"$":0}}</td>
                <td></td>
                <!-- <td>{{project.projectExpense}}</td> -->
            </tr>
        </table>
        <p style="margin-top: 1000px;">scroll test</p>
    </div>
</div>